---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro'
import SectionContainer from "../components/SectionContainer.astro"
import Experience from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
import Stack from "../components/Stack.astro"
---

<Layout>
	<main class="px-6">
		<SectionContainer>
			<Hero />
		</SectionContainer>

		<SectionContainer id="about">
			<About />
		</SectionContainer>

		<!-- <SectionContainer id="experience">
			<Experience />
		</SectionContainer> -->

		<SectionContainer id="projects">
			<Projects />
		</SectionContainer>

		<SectionContainer id="stack">
			<Stack />
		</SectionContainer>
	</main>
</Layout>
