<!-- Fondo para modo claro -->
<div class="fixed top-0 z-[-2] h-screen w-screen pointer-events-none dark:hidden bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]" aria-hidden="true"></div>

<!-- Fondo para modo oscuro -->
<div class="hidden fixed top-0 z-[-2] h-screen w-screen pointer-events-none dark:block bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]" aria-hidden="true"></div>