---
import ExperienceItem from "./ExperienceItem.astro"
import ExperienceIcon from "./icons/ExperienceIcon.astro"
import { getTranslations } from '../utils/i18n'

const t = getTranslations()

const EXPERIENCE = [
    {
        date: "Actualmente...",
        title: "Full-Stack Engineer",
        company: "Freelance",
        description: "Desarrollo aplicaciones web y móviles a medida para clientes de diversos sectores, utilizando tecnologías modernas como React, Node.js, Laravel y bases de datos SQL.",
    },
    {
        date: "may. 2024 - ago. 2024",
        title: "Backend Developer",
        company: "Google Summer of Code",
        description: "Desarrollo de una plataforma web para la gestión educativa de un colegio con alumnos con diversidad funcional, utilizando PHP y MySQL. Implementación de funciones como autenticación o gestión de usuarios",
    },
]
---

<!-- Header -->
<header class="pt-6 pb-4 lg:pt-10 lg:pb-8">
    <h2 class="flex items-center justify-center gap-x-4 text-3xl lg:text-5xl font-bold text-gray-900 dark:text-white mb-4">
        <ExperienceIcon class="size-16 lg:size-20" /><span data-i18n="experience.title">{t.experience.title}</span>
    </h2>
</header>

<!-- Lista de experiencia -->
<ol class="relative mt-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

<!-- Script para actualizar el idioma -->
<script type="module" src="/scripts/i18n-client.js"></script>