<header class="glass fixed flex justify-center items-center px-6 py-4 w-fit mx-auto mt-4 lg:mt-6 shadow-[2px_3px_5px_0px_#add8e6] z-[99]">
    <nav class="flex flex-row gap-x-8 lg:gap-x-10">
        <a href="#top">Home</a>
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#stack">Stack</a>
    </nav>
</header>

<style>
    @reference "../styles/global.css";

    .glass {
        @apply bg-white/20 border border-gray-900 rounded-full backdrop-blur-lg;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
    }

    /* Fallback si backdrop-filter no está soportado */
    @supports not ((-webkit-backdrop-filter: blur(16px)) or (backdrop-filter: blur(16px))) {
        .glass {
            background-color: rgba(255,255,255,0.85);
        }
    }

    a {
        @apply relative text-gray-800 hover:text-black transition-colors duration-300 after:absolute after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:h-[2px] after:w-0 after:bg-black after:transition-all after:duration-300 hover:after:w-full;
    }
</style>