---
import SocialButton from "./SocialButton.astro"
import GitHubIcon from "./icons/GitHubIcon.astro"
import LinkedInIcon from "./icons/LinkedInIcon.astro"
import MailIcon from "./icons/MailIcon.astro"
import ResumeIcon from "./icons/ResumeIcon.astro"
import photoImg from "../assets/Photo.webp?url"
import { getTranslations } from '../utils/i18n'

const t = getTranslations()
---

<!-- Presentación -->
<article class="flex flex-col sm:flex-row items-center gap-x-6 pt-4 mb-10 sm:mb-8 lg:mb-16 alig-center">
    <img class="rounded-full size-36 lg:size-44 xl:size-52 mb-4" src={photoImg} alt="Foto de Emanuel">
    <div class="flex flex-col items-center w-full sm:gap-y-4 lg:gap-y-6">
        <h1 class="text-[2.5rem] sm:text-5xl lg:text-7xl font-bold flex flex-row gap-x-4 lg:pb-2">
            Emanuel Giraldo
        </h1>
        <h1 class="text-3xl lg:text-5xl font-bold bg-[linear-gradient(90deg,#00a3ff,#6978d1_55%,#945dd6)] bg-clip-text text-transparent flex flex-row gap-x-4">
            Full Stack Developer
        </h1>
    </div>
</article>

<!-- Botones contacto -->
<nav class="flex flex-wrap md:flex-row justify-center gap-x-2 lg:gap-x-4 gap-y-4 mt-4 lg:mt-8">
    <SocialButton href="mailto:emanuelghdev@gmail.com"><MailIcon class="size-6"/>
        <span data-i18n="buttons.contact">{t.buttons.contact}</span>
    </SocialButton>
    <SocialButton href="https://www.linkedin.com/in/emanuelgh"><LinkedInIcon class="size-5"/>LinkedIn</SocialButton>
    <SocialButton href="https://github.com/emanuelghdev"><GitHubIcon class="size-6"/>GitHub</SocialButton>
    <SocialButton href="/Emanuel_CV.pdf" download="Emanuel_CV.pdf"><ResumeIcon class="size-6"/>
        <span data-i18n="buttons.resume">{t.buttons.resume}</span>
    </SocialButton>
</nav>

<!-- Script para actualizar el idioma -->
<script type="module" src="/i18n.js"></script>