---
import StackIcon from "./icons/StackIcon.astro"
import StackCard from "./StackCard.astro"
import JavaScriptIcon from "./icons/JavaScriptIcon.astro"
import TypeScriptIcon from "./icons/TypeScriptIcon.astro"
import PHPIcon from "./icons/PHPIcon2.astro"
import HTMLIcon from "./icons/HTMLIcon.astro"
import CSSIcon from "./icons/CSSIcon.astro"
import PythonIcon from "./icons/PythonIcon.astro"
import JavaIcon from "./icons/JavaIcon.astro"
import CSharpIcon from "./icons/CSharpIcon.astro"
import CPlusPlusIcon from "./icons/CPlusPlusIcon.astro"
import DartIcon from "./icons/DartIcon.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import TailwindIcon from "./icons/TailwindIcon.astro"
import AstroIcon from "./icons/AstroIcon.astro"
import ViteIcon from "./icons/ViteIcon.astro"
import MySQLIcon from "./icons/MySQLIcon.astro"
import GitIcon from "./icons/GitIcon.astro"
import GitHubIcon from "./icons/GitHubIcon.astro"
import FigmaIcon from "./icons/FigmaIcon.astro"
import FlaskIcon from "./icons/FlaskIcon.astro"
import SymfonyIcon from "./icons/SymfonyIcon.astro"
import FlutterIcon from "./icons/FlutterIcon.astro"
import UnityIcon from "./icons/UnityIcon.astro"
import AGSIcon from "./icons/AGSIcon.astro"
import AsepriteIcon from "./icons/AsepriteIcon.astro"
import WebGLIcon from "./icons/WebGLIcon2.astro"
import ThreejsIcon from "./icons/ThreejsIcon.astro"
import ChartjsIcon from "./icons/ChartjsIcon.astro"
import LinuxIcon from "./icons/LinuxIcon.astro"
import CloudflareIcon from "./icons/CloudflareIcon.astro"
import VercelIcon from "./icons/VercelIcon.astro"
import SwaggerIcon from "./icons/SwaggerIcon.astro"
import SnykIcon from "./icons/SnykIcon.astro"
import AzureIcon from "./icons/AzureIcon.astro"
import ScrumIcon from "./icons/ScrumIcon.astro"
import JiraIcon from "./icons/JiraIcon.astro"
import GitHubActionsIcon from "./icons/GitHubActionsIcon.astro"
---

<!-- Header -->
<header class="pt-6 pb-4 lg:pt-10 lg:pb-8">
    <h2 class="flex items-center justify-center gap-x-4 text-3xl lg:text-5xl font-bold text-gray-900 dark:text-white mb-4">
        <StackIcon class="size-16 lg:size-20" />My Stack
    </h2>
</header>

<!-- Stack Subcategorías -->
<div class="max-w-7xl mx-auto space-y-12">
    <!-- Backend -->
    <div class="card-modern card-purple px-3 py-5 sm:p-6 md:hover:-translate-y-4 hover:shadow-md transition duration-300 ease-in-out">
        <h3 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-6 text-center">Backend</h3>
        <div class="grid grid-cols-3 gap-y-10 gap-4 sm:gap-y-4 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-8 ">
            <StackCard name="PHP"><PHPIcon class="size-10 overflow-visible"/></StackCard>
            <StackCard name="Python"><PythonIcon class="size-10"/></StackCard>
            <StackCard name="Java"><JavaIcon class="size-10"/></StackCard>
            <StackCard name="C#"><CSharpIcon class="size-10"/></StackCard>
            <StackCard name="C++"><CPlusPlusIcon class="size-10"/></StackCard>
            <StackCard name="Symfony"><SymfonyIcon class="size-10"/></StackCard>
            <StackCard name="Flask" colorIcon="text-black dark:text-white"><FlaskIcon class="size-10"/></StackCard>
            <StackCard colorIcon="text-[#00718b]" name="MySQL"><MySQLIcon class="size-10"/></StackCard>
        </div>
    </div>

    <!-- Frontend & Design -->
    <div class="card-modern card-blue px-3 py-5 sm:p-6 md:hover:-translate-y-4 hover:shadow-md transition duration-300 ease-in-out">
        <h3 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-6 text-center">Frontend & Design</h3>
        <div class="grid grid-cols-3 gap-y-10 gap-4 sm:gap-y-4 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-8">
            <StackCard name="JavaScript"><JavaScriptIcon class="size-10"/></StackCard>
            <StackCard name="TypeScript"><TypeScriptIcon class="size-10"/></StackCard>
            <StackCard name="HTML"><HTMLIcon class="size-10"/></StackCard>
            <StackCard name="CSS"><CSSIcon class="size-10"/></StackCard>
            <StackCard name="Dart"><DartIcon class="size-10"/></StackCard>
            <StackCard colorIcon="text-[#087EA4]" name="React"><ReactIcon class="size-10"/></StackCard>
            <StackCard name="Tailwind CSS"><TailwindIcon class="size-10"/></StackCard>
            <StackCard colorIcon="text-[#000000] dark:text-white" name="Astro"><AstroIcon class="size-10"/></StackCard>
            <StackCard name="Vite"><ViteIcon class="size-10"/></StackCard>
            <StackCard colorIcon="text-[#931821] dark:text-white" name="WebGL"><WebGLIcon class="size-10"/></StackCard>
            <StackCard name="Three.js"><ThreejsIcon class="size-10"/></StackCard>
            <StackCard name="Chart.js"><ChartjsIcon class="size-10"/></StackCard>
            <StackCard name="Flutter"><FlutterIcon class="size-10"/></StackCard>
            <StackCard name="Figma"><FigmaIcon class="size-10"/></StackCard>
        </div>
    </div>

    <!-- DevOps -->
    <div class="card-modern card-purple px-3 py-5 sm:p-6 md:hover:-translate-y-4 hover:shadow-md transition duration-300 ease-in-out">
        <h3 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-6 text-center">DevOps</h3>
        <div class="grid grid-cols-3 gap-y-10 gap-4 sm:gap-y-4 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-8">
            <StackCard name="Git"><GitIcon class="size-10"/></StackCard>
            <StackCard name="GitHub"><GitHubIcon class="size-10"/></StackCard>
            <StackCard name="CI/CD"><GitHubActionsIcon class="size-10"/></StackCard>
            <StackCard name="Linux"><LinuxIcon class="size-10"/></StackCard>
            <StackCard name="Cloudflare"><CloudflareIcon class="size-10"/></StackCard>
            <StackCard name="Azure"><AzureIcon class="size-10"/></StackCard>
            <StackCard name="Swagger"><SwaggerIcon class="size-10"/></StackCard>
            <StackCard name="Snyk"><SnykIcon class="size-10"/></StackCard>
        </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-12 cards-row">
        <!-- Management -->
        <div class="card-modern card-blue px-3 py-5 sm:p-6 md:hover:-translate-y-4 hover:shadow-md transition duration-300 ease-in-out">
            <h3 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-6 text-center">Management</h3>
            <div class="grid grid-cols-3 gap-4 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-4 lg:gap-15">
                <StackCard name="Scrum"><ScrumIcon class="size-10"/></StackCard>
                <StackCard name="Jira"><JiraIcon class="size-10"/></StackCard>  
            </div>
        </div>

        <!-- Game Dev -->
        <div class="card-modern card-blue px-3 py-5 sm:p-6 md:hover:-translate-y-4 hover:shadow-md transition duration-300 ease-in-out">
            <h3 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-6 text-center">Game Development</h3>
            <div class="grid grid-cols-3 gap-4 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-4 lg:gap-15">
                <StackCard name="Unity"><UnityIcon class="size-10"/></StackCard>
                <StackCard name="AGS"><AGSIcon class="size-10"/></StackCard>
                <StackCard name="Aseprite"><AsepriteIcon class="size-10"/></StackCard> 
            </div>
        </div>
    </div>
</div>

<style>
    @reference "../styles/global.css";

    /* Estilo base de las cards */
    .card-modern {
        --from: rgba(255,255,255,0.65);
        --to: rgba(255,255,255,0.45);
        --accent: #00a3ff;

        background-image: linear-gradient(90deg, var(--from), var(--to));
        @apply rounded-2xl text-slate-800 dark:text-slate-100 transition-transform duration-200 ease-out overflow-hidden relative
        dark:hover:shadow-[0_4px_6px_-1px_rgba(229,231,235,0.72),_0_2px_4px_-2px_rgba(229,231,235,0.6)];

        border: 1px solid rgba(15,23,42,0.05);
    }

    /* Card azul */
    .card-blue {
        --from: rgba(236,254,255,0.75);
        --to: rgba(224,242,254,0.55);
        z-index: 2;
    }

    .card-blue:hover {
        @apply  border border-blue-200 dark:border-cyan-800;
    }

    :global(.dark) .card-blue {
        --from: rgba(2,6,23,0.55);
        --to: rgba(3,105,161,0.12);
        --accent: #0891B2;
    }

    /* Card morado */
    .card-purple {
        --from: rgba(245,237,255,0.75);
        --to: rgba(237,223,255,0.55);
        --accent: #945dd6;
    }

    .card-purple:hover {
        @apply border border-purple-200 dark:border-violet-500;
    }

    :global(.dark) .card-purple {
        --from: rgba(2,6,23,0.55);
        --to: rgba(139,92,246,0.15);
        --accent: #9d6ae6;
    }

    /* Override: en lg, la última .card-blue se comporta como .card-purple */
    @media (max-width: 1024px) {
        .cards-row > .card-blue:last-child {
            /* Valores morados (iguales a los de .card-purple) */
            --from: rgba(245,237,255,0.75);
            --to: rgba(237,223,255,0.55);
            --accent: #945dd6;
            z-index: 2;
        }

        .cards-row > .card-blue:last-child:hover {
            border: 1px solid rgba(229,214,255,0.95);
        }

        :global(.dark) .cards-row > .card-blue:last-child {
            --from: rgba(2,6,23,0.55);
            --to: rgba(139,92,246,0.15);
            --accent: #9d6ae6;
        }

        :global(.dark) .cards-row > .card-blue:last-child:hover {
            border: 1px solid rgb(142, 81, 255);
        }
    }
</style>